@font-face{
    font-family: "AxiformaLight";
    src: url(../../assets/font/Axiforma-Light.ttf) format("truetype");
}

@font-face{
    font-family: "AxiformaRegular";
    src: url(../../assets/font/Axiforma-Regular.ttf) format("truetype");
}

@font-face{
    font-family: "AxiformaBold";
    src: url(../../assets/font/Axiforma-Bold.ttf) format("truetype");
}
